<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'dashboard/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST">
                    {% csrf_token %}
                    <div class="login-form-head">
                        <h4>Sign In</h4>
                        <p>Hello there, Sign in and start managing your Admin Template</p>
                    </div>
                    <div class="login-form-body">

                        {% if just_logged_out %}
                        <div class="alert alert-success" role="alert">
                            You have successfully logged out
                        </div>
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-danger form-gp" role="alert">
                            Your username and password didn't match. Please try again.
                        </div>
                        {% endif %}

                        {% if next %}
                        <div class="alert alert-danger form-gp" role="alert">
                            {% if user.is_authenticated %}
                            Your account doesn't have access to this page.
                            {% else %}
                            Please login to see this page.
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="form-gp">
                            <label for="id_username">Username</label>
                            <input type="text" id="id_username" name="username">
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            <label for="id_password">Password</label>
                            <input type="password" id="id_password" name="password">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="id_remember_me" name="remember_me">
                                    <label class="custom-control-label" for="id_remember_me">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{% static 'dashboard/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dashboard/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.slicknav.min.js' %}"></script>
    
    <!-- others plugins -->
    <script src="{% static 'dashboard/js/plugins.js' %}"></script>
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
</body>

</html>