<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    {% include "../tickets/base/head.html" with title="Home" %}
</head>

<body class="body-bg">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- main wrapper start -->
    <div class="horizontal-main-wrapper">
        {% include '../tickets/base/header.html' with name=user_name %}
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="container">
                <div class="row">
                    <!-- seo fact area start -->
                    <div class="col-lg-8 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title"><script>document.write(new Date().getFullYear())</script> statistics</h4>
                                <div class="row">
                                    <div class="col-md-6 mt-3 mb-3">
                                        <div class="card">
                                            <div class="seo-fact sbg1">
                                                <div class="p-4 d-flex justify-content-between align-items-center">
                                                    <div class="seofct-icon"><i class="ti-view-list"></i> Total</div>
                                                    <h2>{{ total_tickets.count }}</h2>
                                                </div>
                                                <canvas id="seolinechart1" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-3 mb-3">
                                        <div class="card">
                                            <div class="seo-fact sbg2">
                                                <div class="p-4 d-flex justify-content-between align-items-center">
                                                    <div class="seofct-icon"><i class="ti-check"></i> Answered</div>
                                                    <h2>{{ answered_tickets.count }}</h2>
                                                </div>
                                                <canvas id="seolinechart2" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="card">
                                            <div class="seo-fact sbg4">
                                                <div class="p-4 d-flex justify-content-between align-items-center">
                                                    <div class="seofct-icon"><i class="ti-alarm-clock"></i> Waiting for response</div>
                                                    <h2>{{ wfr_tickets.count }}</h2>
                                                </div>
                                                <canvas id="seolinechart3" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="card">
                                            <div class="seo-fact sbg3">
                                                <div class="p-4 d-flex justify-content-between align-items-center">
                                                    <div class="seofct-icon"><i class="ti-close"></i> Closed</div>
                                                    <h2>{{ closed_tickets.count }}</h2>
                                                </div>
                                                <canvas id="seolinechart4" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- seo fact area end -->
                    <!-- Advertising area start -->
                    <div class="col-lg-4 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Total statistics</h4>
                                <h6 style="color: #8919FE;text-align: center;">Total Tickets: {{ all_tickets }}<br></h6>
                                <canvas id="seolinechart8" height="277"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- Advertising area end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2019. All right reserved. <a href="https://github.com/clwluvw/">Seena Fallah</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- main wrapper start -->
    <!-- jquery latest version -->
    <script src="{% static 'dashboard/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dashboard/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.slicknav.min.js' %}"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="{% static 'dashboard/js/line-chart.js' %}"></script>

    <script>
        /*-------------- 6 line chart chartjs start ------------*/
        if ($('#seolinechart1').length) {
            var ctx = document.getElementById("seolinechart1").getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "Octobor", "November", "December"],
                    datasets: [{
                        label: "Tickets",
                        backgroundColor: "rgba(104, 124, 247, 0.6)",
                        borderColor: '#8596fe',
                        data: {{ total_tickets.months }},
                    }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: false
                    },
                    animation: {
                        easing: "easeInOutBack"
                    },
                    scales: {
                        yAxes: [{
                            display: !1,
                            ticks: {
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold",
                                beginAtZero: !0,
                                maxTicksLimit: 5,
                                padding: 0
                            },
                            gridLines: {
                                drawTicks: !1,
                                display: !1
                            }
                        }],
                        xAxes: [{
                            display: !1,
                            gridLines: {
                                zeroLineColor: "transparent"
                            },
                            ticks: {
                                padding: 0,
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold"
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    }
                }
            });
        }
        /*-------------- 6 line chart chartjs end ------------*/

        /*-------------- 7 line chart chartjs start ------------*/
        if ($('#seolinechart2').length) {
            var ctx = document.getElementById("seolinechart2").getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "Octobor", "November", "December"],
                    datasets: [{
                        label: "Tickets",
                        backgroundColor: "rgba(96, 241, 205, 0.2)",
                        borderColor: '#3de5bb',
                        data: {{ answered_tickets.months }},
                    }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: false
                    },
                    animation: {
                        easing: "easeInOutBack"
                    },
                    scales: {
                        yAxes: [{
                            display: !1,
                            ticks: {
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold",
                                beginAtZero: !0,
                                maxTicksLimit: 5,
                                padding: 0
                            },
                            gridLines: {
                                drawTicks: !1,
                                display: !1
                            }
                        }],
                        xAxes: [{
                            display: !1,
                            gridLines: {
                                zeroLineColor: "transparent"
                            },
                            ticks: {
                                padding: 0,
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold"
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    }
                }
            });
        }
        /*-------------- 7 line chart chartjs end ------------*/

        /*-------------- 8 line chart chartjs start ------------*/
        if ($('#seolinechart3').length) {
            var ctx = document.getElementById("seolinechart3").getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "Octobor", "November", "December"],
                    datasets: [{
                        label: "Tickets",
                        backgroundColor: "rgba(96, 241, 205, 0)",
                        borderColor: '#fff',
                        data: {{ wfr_tickets.months }},
                    }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: false
                    },
                    animation: {
                        easing: "easeInOutBack"
                    },
                    scales: {
                        yAxes: [{
                            display: !1,
                            ticks: {
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold",
                                beginAtZero: !0,
                                maxTicksLimit: 5,
                                padding: 0
                            },
                            gridLines: {
                                drawTicks: !1,
                                display: !1
                            }
                        }],
                        xAxes: [{
                            display: !1,
                            gridLines: {
                                zeroLineColor: "transparent"
                            },
                            ticks: {
                                padding: 0,
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold"
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    }
                }
            });
        }
        /*-------------- 8 line chart chartjs end ------------*/

        /*-------------- 9 line chart chartjs start ------------*/
        if ($('#seolinechart4').length) {
            var ctx = document.getElementById("seolinechart4").getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "Octobor", "November", "December"],
                    datasets: [{
                        label: "Tickets",
                        backgroundColor: "rgba(96, 241, 205, 0)",
                        borderColor: '#fff',
                        data: {{ closed_tickets.months }},
                    }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: false
                    },
                    animation: {
                        easing: "easeInOutBack"
                    },
                    scales: {
                        yAxes: [{
                            display: !1,
                            ticks: {
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold",
                                beginAtZero: !0,
                                maxTicksLimit: 5,
                                padding: 0
                            },
                            gridLines: {
                                drawTicks: !1,
                                display: !1
                            }
                        }],
                        xAxes: [{
                            display: !1,
                            gridLines: {
                                zeroLineColor: "transparent"
                            },
                            ticks: {
                                padding: 0,
                                fontColor: "rgba(0,0,0,0.5)",
                                fontStyle: "bold"
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    }
                }
            });
        }
        /*-------------- 9 line chart chartjs end ------------*/
    </script>

    <script>
        /*-------------- 7 Pie chart chartjs start ------------*/
        if ($('#seolinechart8').length) {
            var ctx = document.getElementById("seolinechart8").getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'doughnut',
                // The data for our dataset
                data: {
                    labels: ["Answered", "Waiting for response", "Closed"],
                    datasets: [{
                        backgroundColor: [
                            "#12C498",
                            "#F8CB3F",
                            "#E36D68"
                        ],
                        borderColor: '#fff',
                        data: {{ tickets_statistics }},
                    }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: true
                    },
                    animation: {
                        easing: "easeInOutBack"
                    }
                }
            });
        }
        /*-------------- 7 Pie chart chartjs end ------------*/
    </script>

    <!-- all pie chart -->
    <script src="{% static 'dashboard/js/pie-chart.js' %}"></script>
    <!-- all bar chart -->
    <script src="{% static 'dashboard/js/bar-chart.js' %}"></script>
    <!-- all map chart -->
    <script src="{% static 'dashboard/js/maps.js' %}"></script>
    <!-- others plugins -->
    <script src="{% static 'dashboard/js/plugins.js' %}"></script>
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
</body>

</html>
