{% load static %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{% static 'dashboard/images/icon/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/metisMenu.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/slicknav.min.css' %}">
<!-- amchart css -->
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="{% static 'dashboard/css/typography.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/default-css.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/responsive.css' %}">
<!-- modernizr css -->
<script src="{% static 'dashboard/js/vendor/modernizr-2.8.3.min.js' %}"></script>