<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>

        <!-- Font Icon -->
        <link rel="stylesheet" href="{% static 'registration/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
    </head>
    <body>

        <div class="main">

            <!-- Sing in  Form -->
            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="{% static 'registration/images/signin-image.jpg' %}" alt="sing up image"></figure>
                            <a href="{% url 'signup' %}" class="signup-image-link">Create an account</a>
                        </div>

                        <div class="signin-form">
                            <h2 class="form-title">Login</h2>

                            <div style="margin-bottom: 20px;">
                                {% if form.errors %}
                                    <p style="color:red">Your username and password didn't match. Please try again.</p>
                                {% endif %}

                                {% if next %}
                                    {% if user.is_authenticated %}
                                    <p style="color:red">Your account doesn't have access to this page.</p>
                                    {% else %}
                                    <p style="color:red">Please login to see this page.</p>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <form method="POST" class="register-form" id="login-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="username" id="id_username" placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                    <label for="id_password"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="password" id="id_password" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <!-- JS -->
        <script src="{% static 'registration/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'registration/js/main.js' %}"></script>
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>