<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    {% include "./base/head.html" with title="Add Ticket" %}
</head>

<body class="body-bg">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="horizontal-main-wrapper">
        {% include './base/header.html' with name=user_name %}
        <!-- main content area start -->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="container">
                    <div class="row">
                        <!-- basic form start -->
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Ticket Information</h4>
                                    {% if ticketForm.errors or commentForm.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        
                                        {% for field in ticketForm %}
                                            {% for error in field.errors %}
                                                <strong>{{ field.label }}:</strong> {{ error|escape }}<br>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in ticketForm.non_field_errors %}
                                            {{ error|escape }}<br>
                                        {% endfor %}

                                        {% for field in commentForm %}
                                            {% for error in field.errors %}
                                                <strong>{{ field.label }}:</strong> {{ error|escape }}<br>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in commentForm.non_field_errors %}
                                            {{ error|escape }}<br>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-row align-items-center">
                                            {% if is_support %}
                                            <div class="col-sm-6 my-1">
                                            {% else %}
                                            <div class="col-sm-9 my-1">
                                            {% endif %}
                                                <label class="col-form-label" for="id_title">Title</label>
                                                <input type="text" class="form-control" name="title" required maxlength="254" id="id_title" placeholder="Enter Title" value="{{ ticketForm.title.value }}">
                                            </div>
                                            {% if is_support %}
                                            <div class="col-sm-3 my-1">
                                                <label class="col-form-label" for="id_creator">To</label>
                                                <select name="creator" required id="id_creator" class="form-control">
                                                    <option value selected>---------</option>
                                                    {% for x in clients %}
                                                    <option value="{{ x.id }}">{{ x }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% endif %}
                                            <div class="col-sm-3 my-1">
                                                <label class="col-form-label" for="id_priority">Priority</label>
                                                <select name="priority" id="id_priority" class="form-control">
                                                    <option value="Low" selected>Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_comment">Message</label>
                                            <textarea rows="10" required class="form-control" id="id_comment" name="comment" placeholder="Enter your message...">{{ commentForm.comment.value }}</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                                        <a role="button" class="btn btn-secondary mt-4 pr-4 pl-4" href="{% url 'tickets list' %}">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- basic form end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2019. All right reserved. <a href="https://github.com/clwluvw/">Seena Fallah</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    {% include "./base/footer.html" %}

</html>
